/*CUSTOM STYLES*/


.container {
    width: 100%;
    min-height: 680px;
    background: aqua;
    margin: auto;
    border-bottom: 1px solid #111111;
}
.one {
    width: 45%;
    min-height: 680px;
    background: #f2f2f2;
    float: left;
}
.one-img {
    width: 55%;
    min-height: 680px;
    background: red;
    background-size: cover;
    background-image: url("<?php echo $imgSrc;?>");
    float: left;
}
.two {
    margin-left: 45%;
    min-height: 680px;
    background: #f2f2f2;
}
.two-img {
    width: 55%;
    min-height: 680px;
    background: pink;
    background-size: cover;
    background-image: url("<?php echo $imgSrc;?>");
    float: left;
}
.cta{
    margin-top: 60px;
    margin-left: 50px;
}

.cta h3{
    font-size: 50px;
    font-family: 'Druk Wide Web';
    color: #000000;
    text-transform: uppercase;
    line-height: 1.2em;
}

.cta-btn{
    background: #f2f2f2;
    border: 1px solid blue;
    border-color: #000;
}
.cta-left{
    padding-top: 60px;
    padding-left: 25%;
}

.cta-left h3{
    font-size: 50px;
    font-family: 'Druk Wide Web';
    color: #000000;
    text-transform: uppercase;
    line-height: 1.2em;
}
.cta-btn{
    background: #f2f2f2;
    border: 1px solid blue;
    border-color: #000;
}