<?php
	$banner = $block->getSingleBanner(1);

	$imgSrc = $block->getMediaDirectoryUrl().$banner->getBannerimage();
	$link 	= $banner->getLink();
	$target = $banner->getTarget();
	$title 	= $banner->getTitle();
?>

<style type="text/css">
		
.container {
    width: 100%;
    min-height: 200px;
    background: aqua;
    margin: auto;
    /*padding: 10px*/;
}
.one {
    width: 50%;
    min-height: 200px;
    background: red;
    float: left;
}
.one-img {
    width: 50%;
    min-height: 200px;
    background: red;
    background-size: cover;
    background-image: url("<?php echo $imgSrc;?>");
    float: left;
}
.two {
    margin-left: 50%;
    min-height: 200px;
    background: pink;
}
.two-img {
    width: 50%;
    min-height: 200px;
    background: pink;
    background-size: cover;
    background-image: url("<?php echo $imgSrc;?>");
    float: left;
}
</style>

<section class="container">
    <div class="one-img">
    </div>
    <div class="two">
		<div id="cta">
		  <?php if($link != ''): ?>
		  	<a target="<?php echo $target; ?>" href="<?php echo $link; ?>">
		  <?php endif; ?>
		   <h3><?php echo $title; ?></h3>
		    <?php if($link != ''): ?></a><?php endif; ?>
		</div>
    </div>
</section>



<section class="container">
    <div class="one">
    	<div id="cta">
		  <?php if($link != ''): ?>
		  	<a target="<?php echo $target; ?>" href="<?php echo $link; ?>">
		  <?php endif; ?>
		   <h3><?php echo $title; ?></h3>
		    <?php if($link != ''): ?></a><?php endif; ?>
		</div>
    </div>
    <div class="two-img">

    </div>
</section>